@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap");

$fuenteUno: "Salsa", cursive;
$fuenteBase: "Source Sans 3", sans-serif;
$tamañoFuenteBody: 20px;
$fuenteTitulos: "Berkshire Swash", serif;
$letraBlanca: #ffffff;
$colorBase1: green;
$colorBase2: yellow;
$colorBase3: black;
$bordes: 3px solid black;
$bordesHover: 3px solid rgb(0, 0, 0);
$sombraTexto: 5px -2px 4px gold;
$sombraTextoWhite: 2px 2px 5px white;
$sombraTextoBlack: 2px 2px 5px black;
$sombraBox: 2px 0px 10px 5px gold;
$colorFondo1: rgb(69, 255, 1);
$colorFondo2: purple;
$colorFondo3: rgba(34, 139, 34, 0.674);
$colorResaltado: rgba(42, 201, 42, 0.679);
/* fondo para resaltar */
$colorCentro: rgb(9, 69, 9);
$colorPrimero: #0b980b;
$colorExterior: #21db21;
$colorMedio: #14ba14;
$miFondoPresentacion: radial-gradient(
  $colorCentro,
  $colorPrimero,
  $colorMedio,
  $colorExterior
);
/* mixin */
@mixin estiloFotos1 {
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.3s;
}
@mixin estiloFotosHover1 {
  border: 5px solid gold;
  transform: scale(1.1);
  transition: all 0.3s;
}
@mixin botonesHover {
  background-color: $colorFondo1;
  border: $bordesHover;
  box-shadow: $sombraBox;
}
%estilosBotones {
  width: fit-content;
  text-align: center;
  margin: 10px;
  color: $letraBlanca;
  background-color: $colorBase1;
  border: $bordes;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}

/* En general */
h1,
h2,
h3 {
  font-family: $fuenteTitulos;
}
body {
  color: $letraBlanca;
  font-family: $fuenteBase;
  background-image: url(../imgs/Background/65-652684_dark-green-hd-wallpaper-data-src-green-wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: $tamañoFuenteBody;
}
.navbar {
  font-size: 25px;
  background-color: $colorBase1;
  list-style: none;
  padding: 25px;
  background-size: cover;
  .columnaLinks {
    justify-content: right;
    align-items: end;
  }
  .nav-item {
    padding: 10px;
  }
  .navbar img {
    margin-right: 25px;
  }
  #barraDrop {
    color: $colorBase2;
  }
  .redes i {
    padding-right: 5px;
  }
}
.footer {
  background-color: $colorBase1;
  font-size: 20px;
  margin-top: 25px;
  .parteLogo {
    i {
      font-size: x-large;
      padding: 10px;
      transition: 0.5s;
    }
    & i:hover {
      animation-name: aumentoIcono;
      animation-duration: 1s;
      transition: 0.5s;
      @keyframes aumentoIcono {
        0% {
          font-size: x-large;
        }
        50% {
          font-size: xx-large;
        }
        100% {
          font-size: x-large;
        }
      }
    }
  }
  .lista1 {
    ul {
      li {
        i {
          padding: 10px;
        }
      }
    }
  }
  .ubicacion {
    flex-direction: column;
  }
  .copyright {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/* En index */
.presentacion {
  letter-spacing: 3px;
  h1 {
    color: $colorBase3;
    text-shadow: $sombraTextoWhite;
  }
  h2 {
    text-shadow: $sombraTextoBlack;
    font-size: 25px;
  }
  .listaRedes {
    flex-flow: row wrap;
    .redSocial {
      margin-top: 10px;
      font-size: 16px;
      padding: 15px;
    }
  }
  .fotoPulpo {
    animation: moveUpDown 4s ease-in-out infinite;
    width: 100%;
    height: 90%;
  }
  @keyframes moveUpDown {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  .botonCallToAction {
    @extend %estilosBotones;
  }
  & .redSocial:hover {
    background-color: transparent;
    transition: 2s;
    transform: scale(0.8);
  }
  & .botonCallToAction:hover {
    @include botonesHover;
  }
}
.carruselIndex {
    img {
      border: $bordes;
    }
    p {
      font-size: 18px;
    }
}
.jumbotron {
  font-size: 20px;
  text-align: center;
  h3 {
    color: $colorBase3;
    text-shadow: $sombraTexto;
    font-size: 2em;
  }
}
.videoPresentacion {
  background-image: url(../imgs/Background/abstract-green-background-free-vector.jpg);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  flex-flow: column wrap;
  margin-bottom: 100px;
  h3 {
    color: $colorBase3;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-shadow: $sombraTextoWhite;
  }
  blockquote {
    padding-bottom: 50px;
  }
}
.galeriaTrabajos {
  border-radius: 10px;
  .foto {
    @include estiloFotos1();
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  & .foto:hover {
    @include estiloFotosHover1();
  }
}
/* fondo para cards */
$colorCards1: rgb(88, 88, 88);
$colorCards2: rgb(41, 41, 41);
$colorCards3: rgb(0, 0, 0);
$fondoCards: radial-gradient($colorCards3, $colorCards2, $colorCards1);
.cartas {
  background-color: $colorFondo3;
  margin-top: 50px;
  h3 {
    font-size: xx-large;
  }
  .tituloCards {
    color: $colorBase3;
    text-shadow: $sombraTextoWhite;
  }
  .cards {
    height: auto;
    font-size: 16px;
  }
  .card {
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 5px;
    background-image: $fondoCards;  
  }
  img {
    padding: 5px;
    height: 250px;
  }
  a {
    @extend %estilosBotones;
  }
}
.carruselVideos {
  h4 {
    color: $colorBase3;
    text-shadow: $sombraTextoWhite;
    text-decoration: overline;
    font-size: xx-large;
  }
  p {
    text-align: center;
    text-shadow: $sombraTextoBlack;
  }
  .carousel-item {
    object-fit: cover;
  }
}

/* About us */
.jumbotronAbout {
  background-color: $colorFondo3;
  h1 {
    text-shadow: $sombraTextoWhite;
  }
  p {
    text-shadow: $sombraTextoBlack;
  }
  a {
    @extend %estilosBotones;
  }
  & a:hover {
    @include botonesHover();
  }
}
.descripcionElvis {
  background-color: $colorFondo3;
  margin-top: 150px;
  margin-bottom: 150px;
  img {
    border: $bordes;
  }
  h2 {
    text-shadow: $sombraTexto;
    color: $colorBase3;
  }
  ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    li {
      i {
        font-size: 25px;
      }
    }
  }
  p {
    text-shadow: $sombraTextoBlack;
  }
  & i:hover {
    animation-name: aumentoIcono;
    animation-duration: 1.5s;
    transition: 0.5s;
  }
}
.trabajosFotos {
  h2 {
    padding-bottom: 50px;
    text-shadow: $sombraTextoBlack;
  }
  img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
  }
  & img:hover {
    transform: scale(0.98);
    border: $bordes;
  }
}
.elEstudio {
  margin-top: 150px;
  h3 {
    text-decoration: overline;
    text-shadow: $sombraTextoWhite;
  }
  p {
    letter-spacing: 2px;
  }
  .fotoMain {
    height: 80vh;
  }
  .localAbout img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }
}

/* Tatuajes */
.jumbotronTatuajes {
  background-color: $colorFondo3;
  h1 {
    text-decoration: underline;
    text-shadow: $sombraTextoWhite;
  }
  p {
    text-align: center;
    a {
      text-decoration: none;
      color: grey;
    }
  }
}
.estilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 10px;
  column-gap: 10px;
  .titulosPresentacion {
    background-color: $colorResaltado;
    border-radius: 5px;
    h2 {
      text-shadow: $sombraTextoWhite;
    }
  }
  p {
    text-shadow: $sombraTextoBlack;
  }
  img {
    width: 250px;
    height: 250px;
  }
}
.videoYoutube {
  background-color: $colorFondo3;
  h3 {
    padding-bottom: 25px;
    text-shadow: $sombraTextoBlack;
  }
}
.cotizacion {
  background-color: $colorFondo3;
  .guia {
    h3,
    p {
      text-shadow: $sombraTextoBlack;
    }
    .parrafoCentro {
      p {
        text-shadow: $sombraTextoWhite;
      }
    }
    img {
      animation: zoomGrandeChico 4s ease-in-out infinite;
      width: 250px;
      height: 250px;
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.714) 40%,
        rgba(0, 0, 0, 0) 60%
      );
    }
    @keyframes zoomGrandeChico {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    .pulpoInvertido {
      transform: scaleX(-1);
    }
  }
  .descripcionPrecios {
    text-shadow: $sombraTextoBlack;
  }
}
.precios {
  .carousel {
    img {
      object-fit: contain;
      width: 600px;
      height: 600px;
    }
    h4 {
      text-shadow: $sombraTextoBlack;
    }
    .dibujoRosa {
      transform: rotate(90deg);
    }
    .pezKoi {
      transform: rotate(90deg);
    }
  }
  .carousel-caption {
    font-weight: bolder;
  }
}

/* Cuidados */
.jumboCuidado {
  background-color: $colorFondo3;
  h1 {
    text-shadow: $sombraTextoWhite;
  }
  .tablaCuidado {
    border: $bordes;
    background-color: $colorResaltado;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
#sector1, #sector2, #sector3, #sector4 {
  background-color: $colorResaltado;
  h2, h3 {
    text-shadow: $sombraTextoWhite;
  }
  p, li {
    text-shadow: $sombraTextoBlack;
  }
}
#sector5 {
  h3 {
    text-shadow: $sombraTextoWhite;
  } 
  p {
    text-shadow: $sombraTextoBlack;
  }
}
.carruselProductos {
  h3 {
    text-shadow: $sombraTextoWhite;
  }
  p {
    text-shadow: $sombraTextoBlack;
  }
  .card {
    background-image: $fondoCards;
    @extend .cartas;
    border: $bordes;
    .card-title, .card-text {
      font-size: 16px;
    }
    img {
      object-fit: contain;
    }
    & a:hover {
      @include botonesHover();
    }
  }
}

/* Formulario */
.imagenFondoForm {
  background-image: url(../imgs/Background/fondoForms.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  border: $bordes;
  .jumboForm {
    text-shadow: $sombraTextoBlack;
  }
}
.formularios {
  .formulario1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #2c632c;
    .custom-input {
      width: 300px;
    }
  }
  .formulario2 {
    flex-flow: column wrap;
  }
  .formulario3 {
    flex-flow: column wrap;
    background-color: #2c632c;
  }
  .formulario4 {
    flex-flow: column wrap;
    .custom-input2 {
      width: 300px;
    }
  }
}

/* MEDIA QUERIES */
/* medias de index */
@media screen and (min-width: 320px) and (max-width: 767px) {
 .trabajosFotos {
  img {
    width: 200px;
    height: 200px;
  }
}
.elEstudio {
  .fotoMain {
    height: 300px;
  }
  .localAbout img {
    width: 200px;
    height: 200px;
  }
}
.estilos {
  img {
    width: 200px;
    height: 200px;
  }
}
 .carruselProductos {
  .card {
    background-image: $fondoCards;
    @extend .cartas;
    border: $bordes;
    height: 20rem;
    display: flex;
    align-items:center;
    img {
      object-fit: contain;
      width: 150px;
      height: 150px;
    }
    .card-title, .card-text, a {
      font-size: 16px;
    }
    a {
      padding: 0;
    }
    & a:hover {
      @include botonesHover();
    }
  }
}
.cotizacion {
    img {
      display: none;
    }
}
#sector1, #sector2, #sector3, #sector4, #sector5 {
  font-size: 16px;
}   
.formularios {
  font-size: 16px; 
.formulario1, .formulario2, .formulario3, .formulario4, .formulario5 {
  .custom-input, .custom-input2 {
    width: 250px;
  }
}
}
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .galeriaTrabajos {
    .foto {
      margin-top: 10px;
    }
    & foto:active {
      @include estiloFotosHover1();
    }
  }
  .trabajosFotos {
    img:active {
      transform: scale(0.98);
      border: $bordes;
    }
  }
  .carruselProductos {
    a:active {
      @include botonesHover();
    }
  }
}
