@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap");
.jumbotronAbout a, .cartas a, .carruselIndex .carousel-caption .botonCarrusel, .presentacion .botonCallToAction {
  width: fit-content;
  text-align: center;
  margin: 10px;
  color: #ffffff;
  background-color: green;
  border: 3px solid black;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}

/* En general */
h1,
h2,
h3 {
  font-family: "Berkshire Swash", serif;
}

body {
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  background-image: linear-gradient(to top, #00ff00, #2ecc33, #27ae32, #239621, #1e8423, #196f27, #138d2b, #117a11, #0e6615, #0b500f);
  font-size: 20px;
}

.navbar {
  font-size: 25px;
  background-color: green;
  list-style: none;
  padding: 25px;
  background-size: cover;
}
.navbar .nav-item {
  padding: 40px;
}
.navbar .navbar img {
  margin-right: 25px;
}
.navbar #barraDrop {
  color: yellow;
}
.navbar .redes i {
  padding-right: 5px;
}

.footer {
  background-color: green;
  font-size: 20px;
  margin-top: 25px;
}
.footer .parteLogo i {
  font-size: x-large;
  padding: 10px;
  transition: 0.5s;
}
.footer .parteLogo i:hover {
  animation-name: aumentoIcono;
  animation-duration: 1s;
  transition: 0.5s;
}
@keyframes aumentoIcono {
  0% {
    font-size: x-large;
  }
  50% {
    font-size: xx-large;
  }
  100% {
    font-size: x-large;
  }
}
.footer .lista1 ul li i {
  padding: 10px;
}
.footer .ubicacion {
  flex-direction: column;
}
.footer .copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.breadcrumb {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* En index */
/* colores para la presentacion */
.presentacion {
  background-image: radial-gradient(rgb(9, 69, 9), #0b980b, #14ba14, #21db21);
  letter-spacing: 3px;
}
.presentacion h1 {
  color: black;
  text-shadow: 2px 2px 5px white;
  font-size: 40px;
}
.presentacion h2, .presentacion h4, .presentacion h5 {
  text-shadow: 2px 2px 5px black;
}
.presentacion .redSocial {
  margin-top: 10px;
  font-size: 20px;
  padding: 15px;
}
.presentacion .fotoPulpo {
  animation: moveUpDown 4s ease-in-out infinite;
  width: 100%;
  margin-top: 25px;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.presentacion .redSocial:hover {
  background-color: transparent;
  transition: 2s;
  transform: scale(0.8);
}
.presentacion .botonCallToAction:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

.carruselIndex {
  border: 3px solid black;
}
.carruselIndex img {
  height: 100vh;
}
.carruselIndex .carousel-caption h1 {
  font-size: 40px;
  color: black;
  text-shadow: 5px -2px 4px gold;
  margin-bottom: 20px;
}
.carruselIndex .carousel-caption a:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

.jumbotron {
  font-size: 25px;
  text-align: center;
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotron h1 {
  color: black;
  text-shadow: 5px -2px 4px gold;
  font-size: 2em;
}

.videoPresentacion {
  background-color: rgba(34, 139, 34, 0.674);
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  flex-flow: column wrap;
  background-image: url(../imgs/Background/abstract-green-background-free-vector.jpg);
  background-size: cover;
}
.videoPresentacion h2 {
  color: black;
  text-align: center;
  text-decoration: overline;
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: 2px 2px 5px white;
}
.videoPresentacion blockquote {
  padding-bottom: 50px;
}

.galeriaTrabajos {
  background-image: radial-gradient(rgb(9, 69, 9), #0b980b, #14ba14, #21db21);
  border-radius: 10px;
}
.galeriaTrabajos .foto {
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 50px;
  width: 250px;
  height: 250px;
}
.galeriaTrabajos .foto:hover {
  border: 5px solid gold;
  transform: scale(1.1);
  transition: all 0.3s;
}

/* fondo para cards */
.cartas {
  margin-top: 50px;
  background-color: rgba(34, 139, 34, 0.674);
}
.cartas .tituloCards {
  text-decoration: overline;
  color: black;
  text-shadow: 2px 2px 5px white;
}
.cartas .cards {
  height: auto;
  font-size: 16px;
}
.cartas .card {
  margin-top: 50px;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 5px;
  background-image: radial-gradient(rgb(249, 58, 182), rgb(235, 28, 194), purple);
}
.cartas img {
  padding: 5px;
  height: 300px;
  object-fit: cover;
}
.carruselVideos {
  background-color: rgba(34, 139, 34, 0.674);
}
.carruselVideos h2 {
  color: black;
  text-shadow: 2px 2px 5px white;
  text-decoration: overline;
}
.carruselVideos p {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.carruselVideos .carousel {
  border: 3px solid black;
  box-shadow: 2px 0px 10px 5px gold;
}
.carruselVideos .carousel-item {
  height: 90vh;
  object-fit: cover;
}

/* About us */
.jumbotronAbout {
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotronAbout h1 {
  text-shadow: 2px 2px 5px white;
}
.jumbotronAbout p {
  text-shadow: 2px 2px 5px black;
}
.jumbotronAbout a:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

.descripcionElvis {
  background-color: rgba(34, 139, 34, 0.674);
  margin-top: 150px;
  margin-bottom: 150px;
}
.descripcionElvis img {
  border: 3px solid black;
}
.descripcionElvis h2 {
  text-shadow: 5px -2px 4px gold;
  color: black;
}
.descripcionElvis ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.descripcionElvis ul li i {
  font-size: 25px;
}
.descripcionElvis p {
  text-shadow: 2px 2px 5px black;
}
.descripcionElvis i:hover {
  animation-name: aumentoIcono;
  animation-duration: 1.5s;
  transition: 0.5s;
}

.trabajosFotos {
  background-image: linear-gradient(rgb(9, 69, 9), #0b980b, #21db21, rgb(9, 69, 9));
}
.trabajosFotos h2 {
  padding-bottom: 50px;
  text-shadow: 2px 2px 5px black;
}
.trabajosFotos img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
}
.trabajosFotos img:hover {
  transform: scale(0.98);
  border: 3px solid black;
}

.elEstudio {
  margin-top: 150px;
  background-color: rgba(34, 139, 34, 0.674);
}
.elEstudio h3 {
  text-decoration: overline;
  text-shadow: 2px 2px 5px white;
}
.elEstudio p {
  letter-spacing: 2px;
}
.elEstudio .fotoMain {
  height: 80vh;
}
.elEstudio .localAbout img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

/* Tatuajes */
.jumbotronTatuajes {
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotronTatuajes h1 {
  text-decoration: underline;
  text-shadow: 2px 2px 5px white;
}
.jumbotronTatuajes p {
  text-align: center;
}
.jumbotronTatuajes p a {
  text-decoration: none;
  color: grey;
}

.estilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 10px;
  column-gap: 10px;
  background-color: rgba(34, 139, 34, 0.674);
}
.estilos .titulosPresentacion {
  background-color: rgba(42, 201, 42, 0.679);
  border-radius: 5px;
}
.estilos .titulosPresentacion h2 {
  text-shadow: 2px 2px 5px white;
}
.estilos p {
  text-shadow: 2px 2px 5px black;
}
.estilos img {
  width: 250px;
  height: 250px;
}

.videoYoutube {
  background-color: rgba(34, 139, 34, 0.674);
}
.videoYoutube h3 {
  padding-bottom: 25px;
  text-shadow: 2px 2px 5px black;
}

.cotizacion {
  background-color: rgba(34, 139, 34, 0.674);
}
.cotizacion .guia {
  background-color: rgba(42, 201, 42, 0.679);
}
.cotizacion .guia h3, .cotizacion .guia p {
  text-shadow: 2px 2px 5px black;
}
.cotizacion .guia ul {
  text-shadow: 2px 2px 5px white;
}
.cotizacion .guia img {
  animation: zoomGrandeChico 4s ease-in-out infinite;
  width: 250px;
  height: 250px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.714) 40%, rgba(0, 0, 0, 0) 60%);
}
@keyframes zoomGrandeChico {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.cotizacion .guia .pulpo2 {
  transform: scaleX(-1);
}
.cotizacion .descripcionPrecios {
  text-shadow: 2px 2px 5px black;
}

.precios {
  background-image: radial-gradient(rgb(9, 69, 9), #0b980b, #14ba14, #21db21);
}
.precios .carousel img {
  object-fit: contain;
  width: 600px;
  height: 600px;
}
.precios .carousel h4 {
  text-shadow: 2px 2px 5px black;
}
.precios .carousel .dibujoRosa {
  transform: rotate(90deg);
}
.precios .carousel .pezKoi {
  transform: rotate(90deg);
}
.precios .carousel-caption {
  font-weight: bolder;
}

/* MEDIA QUERIES */
/* medias de index */
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .galeriaTrabajos .foto {
    margin-top: 10px;
  }
  .galeriaTrabajos foto:active {
    border: 5px solid gold;
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

/*# sourceMappingURL=styles.css.map */
