@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Salsa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap");
/* mixin */
.jumbotronAbout a, .cartas a, .carruselProductos .card a, .presentacion .botonCallToAction {
  width: fit-content;
  text-align: center;
  margin: 10px;
  color: #ffffff;
  background-color: green;
  border: 3px solid black;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}

/* En general */
h1,
h2,
h3 {
  font-family: "Berkshire Swash", serif;
}

body {
  color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  background-image: url(../imgs/Background/65-652684_dark-green-hd-wallpaper-data-src-green-wallpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
}

.navbar {
  font-size: 20px;
  background-color: rgb(34, 139, 34);
  list-style: none;
  padding: 25px;
  background-size: cover;
}
.navbar .columnaLinks li {
  justify-content: right;
  align-items: end;
}
.navbar .nav-item {
  padding: 10px;
}
.navbar #barraDrop {
  color: yellow;
}
.navbar .redes i {
  padding-right: 5px;
}

.footer {
  background-color: rgb(34, 139, 34);
  font-size: 20px;
  margin-top: 25px;
}
.footer .parteLogo i {
  font-size: x-large;
  padding: 10px;
  transition: 0.5s;
}
.footer .parteLogo i:hover {
  animation-name: aumentoIcono;
  animation-duration: 1s;
  transition: 0.5s;
}
@keyframes aumentoIcono {
  0% {
    font-size: x-large;
  }
  50% {
    font-size: xx-large;
  }
  100% {
    font-size: x-large;
  }
}
.footer .lista1 ul li i {
  padding: 10px;
}
.footer .ubicacion {
  flex-direction: column;
}
.footer .copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

/* En index */
.presentacion {
  letter-spacing: 3px;
}
.presentacion h1 {
  color: black;
  text-shadow: 2px 2px 5px white;
}
.presentacion h2 {
  text-shadow: 2px 2px 5px black;
  font-size: 25px;
}
.presentacion .listaRedes {
  flex-flow: row wrap;
}
.presentacion .listaRedes .redSocial {
  margin-top: 10px;
  font-size: 16px;
  padding: 15px;
}
.presentacion .fotoPulpo {
  animation: moveUpDown 4s ease-in-out infinite;
  width: 100%;
  height: 90%;
}
@keyframes moveUpDown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.presentacion .redSocial:hover {
  background-color: transparent;
  transition: 2s;
  transform: scale(0.8);
}
.presentacion .botonCallToAction:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

.carruselIndex {
  flex-wrap: wrap;
}
.carruselIndex img {
  border: 3px solid black;
  width: 100%;
}

.jumbotron {
  font-size: 20px;
  text-align: center;
}
.jumbotron h3 {
  color: black;
  text-shadow: 5px -2px 4px gold;
  font-size: 2em;
}

.videoPresentacion {
  background-image: url(../imgs/Background/abstract-green-background-free-vector.jpg);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  margin-top: 100px;
  flex-flow: column wrap;
  margin-bottom: 100px;
}
.videoPresentacion h3 {
  color: black;
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px white;
}
.videoPresentacion blockquote {
  padding-bottom: 50px;
}

.galeriaTrabajos {
  border-radius: 10px;
}
.galeriaTrabajos .foto {
  border: 3px solid black;
  border-radius: 10px;
  transition: 0.3s;
  margin-top: 50px;
  width: 200px;
  height: 200px;
}
.galeriaTrabajos .foto:hover {
  border: 5px solid gold;
  transform: scale(1.1);
  transition: all 0.3s;
}

/* fondo para cards */
.cartas, .carruselProductos .card {
  background-color: rgba(34, 139, 34, 0.674);
  margin-top: 50px;
}
.cartas h3, .carruselProductos .card h3 {
  font-size: xx-large;
}
.cartas .tituloCards, .carruselProductos .card .tituloCards {
  color: black;
  text-shadow: 2px 2px 5px white;
}
.cartas .cards, .carruselProductos .card .cards {
  height: auto;
  font-size: 16px;
}
.cartas .card, .carruselProductos .card .card {
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 5px;
  background-image: radial-gradient(rgb(0, 0, 0), rgb(41, 41, 41), rgb(88, 88, 88));
}
.cartas img, .carruselProductos .card img {
  padding: 5px;
  height: 250px;
}
.carruselVideos h4 {
  color: black;
  text-shadow: 2px 2px 5px white;
  text-decoration: overline;
  font-size: xx-large;
}
.carruselVideos p {
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.carruselVideos .carousel-item {
  object-fit: cover;
}

/* About us */
.jumbotronAbout {
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotronAbout h1 {
  text-shadow: 2px 2px 5px white;
}
.jumbotronAbout p {
  text-shadow: 2px 2px 5px black;
}
.jumbotronAbout a:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

.descripcionElvis {
  background-color: rgba(34, 139, 34, 0.674);
  margin-top: 150px;
  margin-bottom: 150px;
}
.descripcionElvis img {
  border: 3px solid black;
}
.descripcionElvis h2 {
  text-shadow: 5px -2px 4px gold;
  color: black;
}
.descripcionElvis ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.descripcionElvis ul li i {
  font-size: 25px;
}
.descripcionElvis p {
  text-shadow: 2px 2px 5px black;
}
.descripcionElvis i:hover {
  animation-name: aumentoIcono;
  animation-duration: 1.5s;
  transition: 0.5s;
}

.trabajosFotos h2 {
  padding-bottom: 50px;
  text-shadow: 2px 2px 5px black;
}
.trabajosFotos img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
}
.trabajosFotos img:hover {
  transform: scale(0.98);
  border: 3px solid black;
}

.elEstudio {
  margin-top: 150px;
}
.elEstudio h3 {
  text-decoration: overline;
  text-shadow: 2px 2px 5px white;
}
.elEstudio p {
  letter-spacing: 2px;
}
.elEstudio .fotoMain {
  height: 80vh;
}
.elEstudio .localAbout img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}

/* Tatuajes */
.jumbotronTatuajes {
  background-color: rgba(34, 139, 34, 0.674);
}
.jumbotronTatuajes h1 {
  text-decoration: underline;
  text-shadow: 2px 2px 5px white;
}
.jumbotronTatuajes p {
  text-align: center;
}
.jumbotronTatuajes p a {
  text-decoration: none;
  color: grey;
}

.estilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.estilos .titulosPresentacion {
  background-color: rgba(42, 201, 42, 0.679);
  border-radius: 5px;
}
.estilos .titulosPresentacion h2 {
  text-shadow: 2px 2px 5px white;
}
.estilos p {
  text-shadow: 2px 2px 5px black;
}
.estilos img {
  width: 250px;
  height: 250px;
}

.videoYoutube {
  background-color: rgba(34, 139, 34, 0.674);
}
.videoYoutube h3 {
  padding-bottom: 25px;
  text-shadow: 2px 2px 5px black;
}

.cotizacion {
  background-color: rgba(34, 139, 34, 0.674);
}
.cotizacion .guia h3,
.cotizacion .guia p {
  text-shadow: 2px 2px 5px black;
}
.cotizacion .guia .parrafoCentro p {
  text-shadow: 2px 2px 5px white;
}
.cotizacion .guia img {
  animation: zoomGrandeChico 4s ease-in-out infinite;
  width: 250px;
  height: 250px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.714) 40%, rgba(0, 0, 0, 0) 60%);
}
@keyframes zoomGrandeChico {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.cotizacion .guia .pulpoInvertido {
  transform: scaleX(-1);
}
.cotizacion .descripcionPrecios {
  text-shadow: 2px 2px 5px black;
}

.precios .carousel img {
  object-fit: contain;
  height: 600px;
}
.precios .carousel h4 {
  text-shadow: 2px 2px 5px black;
}
.precios .carousel .dibujoRosa {
  transform: rotate(90deg);
}
.precios h4,
.precios p {
  font-weight: bolder;
}

/* Cuidados */
.jumboCuidado {
  background-color: rgba(34, 139, 34, 0.674);
}
.jumboCuidado h1 {
  text-shadow: 2px 2px 5px white;
}
.jumboCuidado .tablaCuidado {
  border: 3px solid black;
  background-color: rgba(42, 201, 42, 0.679);
}
.jumboCuidado .tablaCuidado a {
  text-decoration: none;
  color: white;
}

#sector1,
#sector2,
#sector3,
#sector4 {
  background-color: rgba(42, 201, 42, 0.679);
}
#sector1 h2,
#sector1 h3,
#sector2 h2,
#sector2 h3,
#sector3 h2,
#sector3 h3,
#sector4 h2,
#sector4 h3 {
  text-shadow: 2px 2px 5px white;
}
#sector1 p,
#sector1 li,
#sector2 p,
#sector2 li,
#sector3 p,
#sector3 li,
#sector4 p,
#sector4 li {
  text-shadow: 2px 2px 5px black;
}

#sector5 h3 {
  text-shadow: 2px 2px 5px white;
}
#sector5 p {
  text-shadow: 2px 2px 5px black;
}

.carruselProductos h3 {
  text-shadow: 2px 2px 5px white;
}
.carruselProductos p {
  text-shadow: 2px 2px 5px black;
}
.carruselProductos .card {
  background-image: radial-gradient(rgb(0, 0, 0), rgb(41, 41, 41), rgb(88, 88, 88));
  border: 3px solid black;
}
.carruselProductos .card .card-title,
.carruselProductos .card .card-text {
  font-size: 16px;
}
.carruselProductos .card img {
  object-fit: contain;
}
.carruselProductos .card a:hover {
  background-color: rgb(69, 255, 1);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 10px 5px gold;
}

/* Formulario */
.imagenFondoForm {
  background-image: url(../imgs/Background/fondoForms.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  border: 3px solid black;
}
.imagenFondoForm .jumboForm {
  text-shadow: 2px 2px 5px black;
}

.formularios .formulario1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: #2c632c;
}
.formularios .formulario1 .custom-input {
  width: 300px;
}
.formularios .formulario2 {
  flex-flow: column wrap;
}
.formularios .formulario3 {
  flex-flow: column wrap;
  background-color: #2c632c;
  min-width: 320px;
}
.formularios .formulario4 {
  flex-flow: column wrap;
}
.formularios .formulario4 .custom-input2 {
  width: 300px;
}

/* MEDIA QUERIES */
/* medias de index */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .trabajosFotos img {
    width: 200px;
    height: 200px;
  }
  .estilos img {
    width: 200px;
    height: 200px;
  }
  .carruselProductos .card {
    background-image: radial-gradient(rgb(0, 0, 0), rgb(41, 41, 41), rgb(88, 88, 88));
    border: 3px solid black;
    height: 20rem;
    display: flex;
    align-items: center;
  }
  .carruselProductos .card img {
    object-fit: contain;
    width: 150px;
    height: 150px;
  }
  .carruselProductos .card .card-title,
  .carruselProductos .card .card-text,
  .carruselProductos .card a {
    font-size: 16px;
  }
  .carruselProductos .card a {
    padding: 0;
  }
  .carruselProductos .card a:hover {
    background-color: rgb(69, 255, 1);
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 0px 10px 5px gold;
  }
  .cotizacion img {
    display: none;
  }
  #sector1,
  #sector2,
  #sector3,
  #sector4,
  #sector5 {
    font-size: 16px;
  }
  .formularios {
    font-size: 16px;
  }
  .formularios .formulario1 .custom-input,
  .formularios .formulario1 .custom-input2,
  .formularios .formulario2 .custom-input,
  .formularios .formulario2 .custom-input2,
  .formularios .formulario3 .custom-input,
  .formularios .formulario3 .custom-input2,
  .formularios .formulario4 .custom-input,
  .formularios .formulario4 .custom-input2,
  .formularios .formulario5 .custom-input,
  .formularios .formulario5 .custom-input2 {
    width: 250px;
  }
}
@media screen and (min-width: 320px) and (max-width: 770px) {
  .elEstudio .fotoMain {
    height: 300px;
  }
  .elEstudio .localAbout img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .galeriaTrabajos img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 550px) {
  .trabajosFotos img {
    width: 100px;
    height: 100px;
  }
  .precios h4,
  .precios p {
    font-size: 16px;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .carruselProductos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carruselProductos .card {
    width: fit-content;
  }
}
@media screen and (min-width: 770px) and (max-width: 998px) {
  .elEstudio .fotoMain {
    height: 300px;
  }
  .elEstudio .localAbout img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .descripcionElvis {
    font-size: 16px;
  }
  .descripcionElvis img {
    height: 400px;
  }
  .descripcionElvis p {
    text-align: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .descripcionElvis {
    font-size: 20px;
  }
  .descripcionElvis img {
    height: 500px;
  }
  .descripcionElvis p {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 998px) {
  .carruselIndex p {
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .galeriaTrabajos .foto {
    margin-top: 10px;
  }
  .galeriaTrabajos foto:active {
    border: 5px solid gold;
    transform: scale(1.1);
    transition: all 0.3s;
  }
  .trabajosFotos img:active {
    transform: scale(0.98);
    border: 3px solid black;
  }
  .carruselProductos a:active {
    background-color: rgb(69, 255, 1);
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 2px 0px 10px 5px gold;
  }
}

/*# sourceMappingURL=styles.css.map */
